.close {
    animation: close 1s 1;
}

.close-header {
    animation: close-header 3s 1;
    /* animation-delay: 2s; */
}

.open {
    animation: open-h 1s 1;
}

.open-header {
    animation: open-header 1s 1;
    /* animation-delay: 2s; */
}

@keyframes close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes close-header {
    0% {
        right: 0%;
    }
    50% {
        width: 40%;
    }
    100% {
        right: -200%;
    }
}

@keyframes open-h {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes open-header {
    0% {
        right: -200%;
    }
    50% {
        width: 40%;
    }
    100% {
        right: 0%;
    }
}


.loading-card {
    animation: loading 1s infinite linear;
    border-color: #0455BF;
    border-top: 5px solid #0455BF;
    border-left: 5px solid rgb(231, 231, 231);
    border-right: 5px solid rgb(231, 231, 231);
    border-bottom: 5px solid rgb(231, 231, 231);
    width: 40px;
    height: 40px;
   }
   
   @keyframes loading {
   from {
       transform: rotate(0deg);
   }
   to {
       transform: rotate(360deg);
   }
   }